@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
	--bg-color: #1D1A28;
	--fg-color: #272736;
    --primary-color: #995DF3;
    --shadow: 0 6px 6px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
	font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
}

body {
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 400;
	background-color: var(--bg-color) !important;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

code {
	color: #f9a8d4;
}

.page-title-wrapper{
    display: flex;
    flex-direction: column;
    gap: -10px;
    margin-left: 15px;
    margin-bottom: 25px;
    float: left;
    text-align: left;
    align-items: left;
}

.page-title-wrapper .title-dot{
    height: 5px;
    background: linear-gradient(71.3deg, #873ef5 0%, #995DF3 100%);
    border-radius: 5px; 
    width: 100px;
    margin-top: -15px;
}

.page-title{
  text-align: left;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
}

.sidebar-link{
    font-size: 16px !important;
    padding: 5px 10px 5px 20px;
    border-radius: 4px;
    transition: .3s ease-in-out;
    text-shadow: none;
    margin-bottom: 5px;
    cursor: pointer;
	margin-left: 0 !important;
	position: relative;
    color: rgba(255, 255, 255, .8);
}

.sidebar-link:not(.active):hover{
    color: white;
}

.sidebar-link.active{
    background: linear-gradient(71.3deg, #873ef5 0%, #995DF3 100%);
    color: white !important;
    box-shadow: 0 6px 6px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

.sidebar-link .new-badge{
	position: absolute;
	right: 10px;
	background: linear-gradient(33.3deg, #873ef5 0%, #995DF3 100%);
	padding: 3px 10px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	transition: .2s ease-in-out;
}

.sidebar-link.active .new-badge {
	background: transparent !important;
}